[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
numpy = "*"
matplotlib = "*"
notebook = "*"
cartopy = "*"
xarray = "*"
scipy = "*"
netcdf4 = "*"

[dev-packages]

[requires]
python_version = "3.8"
